input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#input-form input[type='number'] {
  transition: border-color 0.1s ease-in, transform 0.1s ease-in;

}

#input-form input[type='number']:hover {
  border-color: #6f42c1;
  transform: scale(1.1);
}


.sidebar {
  width: 25%;
  /*max-width: 200px;*/
}

.forms {
  width: 65%;
}

#nine{
  width: 60%;
}
#four{
  width: 30%;
}
.content{
  margin-bottom: 200px;
}

.err-msg{
  background: red;
  padding: 10px;
}